body {
    font-family: sans-serif;
    background-color: #4d88ff
}

h1,
h2,
h3,
h4 {
    color: #e6e6e6;
}

h1,
h2 {
    font-family: 'georgia', serif;
    margin: 0;
}

h1 {

}

h2 {
    font-size: 1.2em;
}

p,
dd,
dt {
    color: #cccccc;
}

a {
    text-decoration: none;
    color: #99ccff;
}

a:hover {
    text-decoration: none;
    color: #1a8cff;
}

.pane {
    width: 60%;
    border: 2px solid;
    border-radius: 25px;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    border-color: #999999;
    background-color: #000033
}

.header {
    left: 50%;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
}

.name {
    width: 50%;
    display: inline-block;
    float: left;
    color: #0052cc;
    font-size: 1.5em;
}

.restname {
    width: 100%;
    display: inline-block;
    float: left;
    font-size: 1.75em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.description {
    color: #cccccc;
    width: 100%;
    display: inline-block;
    float: left;
}

.price {
    text-align: right;
    width: 50%;
    float: right;
    color: #cccccc;
    font-size: 1.2em;
}

.editdeletepane {
    text-align: right;
    border-bottom: 1px solid #eee;
    list-style-type: none;

}
.editdeleterest {
    border-bottom: 1px solid #eee;
    margin: 10px;

}

.flash {
    background: #99ccff;
}

.addnew {
    font-size: 1.2em;
    text-align: center;
}

.home {
    border: 2px solid;
    border-radius: 25px;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    border-color: #999999;
    background-color: #000033;
    width: 20%;
    text-align: center;

}
