<!DOCTYPE html>
<html>
<head>
  <title>Restaurants</title>
</head>
<body>
  <div class='heading'>
    <h1>Restaurants</h1>
  </div>
  <div class='flash'>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li><strong>
            {{message}}
          </strong></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  </div>
  <div class='restaurants'>
    {% for r in restaurants %}
      <a href="{{ url_for('restaurantMenu', restaurant_id=r.id) }}">{{r.name}}</a>
      <div class='EditDelete'>
        <ul>
          <li><a href="{{ url_for('editRestaurant', restaurant_id=r.id) }}">Edit</a></li>
          <li><a href="{{ url_for('deleteRestaurant', restaurant_id=r.id) }}">Delete</a></li>
        </ul>
      </div>
    {% endfor %}
  </div>
  <div class="AddRestaurant">
    <a href="{{ url_for('addRestaurant') }}">Add New Restaurant</a>
  </div>
</body>
</html>